In [2]:
import pandas as pd
import pandas_ta as ta
import yfinance as yf
from strategies import superEma
import numpy as np
import manager_db

In [3]:
#tickers = ['BALRAMCHIN', 'CUB', 'COALINDIA', 'HEROMOTOCO', 'INFY', 'NATIONALUM', 'PFC', 'POWERGRID', 'ZYDUSLIFE']
#tickers = manager_db.get_future_stock_list()
#tickers = ['BHARATFORG', 'HDFCBANK', 'GMRINFRA']
tickers = ['TCS']

for ticker in tickers:
    tickr = ticker + '.NS'
    data = yf.download(tickr, group_by="Ticker", period='2d', interval='15m')
    data['symbol'] = ticker
    data.to_csv('stock.csv')
    df = pd.read_csv('stock.csv')      
    #superEma.trade_decision_yf(df).to_csv('result.csv',mode='a', header=False)
    
# df1['EMA_9'] = df1['EMA_9'].apply(np.ceil)
# df1['EMA_21'] = df1['EMA_21'].apply(np.ceil)

#df1.tail(10)
# data['Supertrend'] = ''
ta.supertrend(data['High'], data['Low'], data['Close'], length=12, multiplier=3)

[*********************100%***********************]  1 of 1 completed

,SUPERT_12_3.0,SUPERTd_12_3.0,SUPERTl_12_3.0,SUPERTs_12_3.0
Datetime,,,,
2023-03-28 09:15:00,0.000000,1,NaN,NaN
2023-03-28 09:30:00,NaN,1,NaN,NaN
2023-03-28 09:45:00,NaN,1,NaN,NaN
2023-03-28 10:00:00,NaN,1,NaN,NaN
2023-03-28 10:15:00,NaN,1,NaN,NaN
2023-03-28 10:30:00,NaN,1,NaN,NaN
2023-03-28 10:45:00,NaN,1,NaN,NaN
2023-03-28 11:00:00,NaN,1,NaN,NaN
2023-03-28 11:15:00,NaN,1,NaN,NaN
2023-03-28 11:30:00,NaN,1,NaN,NaN
2023-03-28 11:45:00,NaN,1,NaN,NaN
2023-03-28 12:00:00,NaN,1,NaN,NaN
2023-03-28 12:15:00,3106.812500,1,3106.812500,NaN
2023-03-28 12:30:00,3107.928162,1,3107.928162,NaN
2023-03-28 12:45:00,3108.940425,1,3108.940425,NaN
2023-03-28 13:00:00,3115.097428,1,3115.097428,NaN
2023-03-28 13:15:00,3115.097428,1,3115.097428,NaN
2023-03-28 13:30:00,3115.097428,1,3115.097428,NaN
2023-03-28 13:45:00,3115.097428,1,3115.097428,NaN
2023-03-28 14:00:00,3115.097428,1,3115.097428,NaN
2023-03-28 14:15:00,3115.097428,1,3115.097428,NaN
2023-03-28 14:30:00,3115.097428,1,3115.097428,NaN
2023-03-28 14:45:00,3115.097428,1,3115.097428,NaN
2023-03-28 15:00:00,3115.097428,1,3115.097428,NaN
2023-03-28 15:15:00,3115.097428,1,3115.097428,NaN
2023-03-29 09:15:00,3115.097428,1,3115.097428,NaN
2023-03-29 09:30:00,3115.097428,1,3115.097428,NaN
2023-03-29 09:45:00,3115.097428,1,3115.097428,NaN
2023-03-29 10:00:00,3115.097428,1,3115.097428,NaN
2023-03-29 10:15:00,3115.097428,1,3115.097428,NaN
2023-03-29 10:30:00,3115.097428,1,3115.097428,NaN
2023-03-29 10:45:00,3115.097428,1,3115.097428,NaN
2023-03-29 11:00:00,3141.004420,-1,NaN,3141.004420
2023-03-29 11:15:00,3138.506137,-1,NaN,3138.506137
2023-03-29 11:30:00,3132.934743,-1,NaN,3132.934743
2023-03-29 11:45:00,3132.934743,-1,NaN,3132.934743
2023-03-29 12:00:00,3132.934743,-1,NaN,3132.934743
2023-03-29 12:15:00,3132.934743,-1,NaN,3132.934743
2023-03-29 12:30:00,3132.934743,-1,NaN,3132.934743
2023-03-29 12:45:00,3132.934743,-1,NaN,3132.934743
2023-03-29 13:00:00,3132.934743,-1,NaN,3132.934743
2023-03-29 13:15:00,3132.934743,-1,NaN,3132.934743
2023-03-29 13:30:00,3132.934743,-1,NaN,3132.934743
2023-03-29 13:45:00,3132.934743,-1,NaN,3132.934743
2023-03-29 14:00:00,3132.934743,-1,NaN,3132.934743
2023-03-29 14:15:00,3132.934743,-1,NaN,3132.934743
2023-03-29 14:30:00,3132.934743,-1,NaN,3132.934743
2023-03-29 14:45:00,3132.934743,-1,NaN,3132.934743
2023-03-29 15:00:00,3110.580821,1,3110.580821,NaN
2023-03-29 15:15:00,3118.701141,1,3118.701141,NaN