In [1]:
import pandas as pd
import pandas_ta as ta
import yfinance as yf
from candlestick import Candlestick
from candlestick import CandleColor

In [2]:
start_dt = '2023-03-13'
end_dt = '2023-03-24'
symbol = "TCS.NS"

df = yf.Ticker(ticker=symbol).history(period="1y", interval="1D")

df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-03-24 00:00:00+05:30,3583.515682,3639.883368,3578.673093,3631.796387,1879046,0.0,0.0
2022-03-25 00:00:00+05:30,3641.529664,3660.512706,3556.397051,3590.730957,1690133,0.0,0.0
2022-03-28 00:00:00+05:30,3578.673017,3596.106336,3545.937070,3590.973145,1760990,0.0,0.0
2022-03-29 00:00:00+05:30,3578.430640,3604.822746,3574.798698,3588.697021,2689063,0.0,0.0
2022-03-30 00:00:00+05:30,3620.319157,3620.319157,3589.520247,3614.072266,1583455,0.0,0.0
...,...,...,...,...,...,...,...
2023-03-20 00:00:00+05:30,3169.649902,3169.649902,3095.050049,3143.300049,2289468,0.0,0.0
2023-03-21 00:00:00+05:30,3143.300049,3156.750000,3097.449951,3106.100098,1815297,0.0,0.0
2023-03-22 00:00:00+05:30,3130.050049,3143.500000,3106.100098,3130.800049,1123939,0.0,0.0
2023-03-23 00:00:00+05:30,3114.899902,3146.350098,3101.000000,3124.649902,1372218,0.0,0.0
2023-03-24 00:00:00+05:30,3148.899902,3170.000000,3106.000000,3120.500000,1329577,0.0,0.0

In [3]:
for row in range(1,len(df.index)):
    candle = df.iloc[row]
    df['ShootingStar'] = Candlestick(open=candle.Open, 
                                     high=candle.High, 
                                     low=candle.Low, 
                                     close=candle.Close).ShootingStar(colorFilter=CandleColor.RED)
    
    df['Hammer'] = Candlestick(open=candle.Open,
                                     high=candle.High,
                                     low=candle.Low,
                                     close=candle.Close).Hammer(colorFilter=CandleColor.GREEN)

In [4]:
df.to_csv('candle.csv')

df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ShootingStar,Hammer
Date,,,,,,,,,
2022-03-24 00:00:00+05:30,3583.515682,3639.883368,3578.673093,3631.796387,1879046,0.0,0.0,False,False
2022-03-25 00:00:00+05:30,3641.529664,3660.512706,3556.397051,3590.730957,1690133,0.0,0.0,False,False
2022-03-28 00:00:00+05:30,3578.673017,3596.106336,3545.937070,3590.973145,1760990,0.0,0.0,False,False
2022-03-29 00:00:00+05:30,3578.430640,3604.822746,3574.798698,3588.697021,2689063,0.0,0.0,False,False
2022-03-30 00:00:00+05:30,3620.319157,3620.319157,3589.520247,3614.072266,1583455,0.0,0.0,False,False
...,...,...,...,...,...,...,...,...,...
2023-03-20 00:00:00+05:30,3169.649902,3169.649902,3095.050049,3143.300049,2289468,0.0,0.0,False,False
2023-03-21 00:00:00+05:30,3143.300049,3156.750000,3097.449951,3106.100098,1815297,0.0,0.0,False,False
2023-03-22 00:00:00+05:30,3130.050049,3143.500000,3106.100098,3130.800049,1123939,0.0,0.0,False,False
2023-03-23 00:00:00+05:30,3114.899902,3146.350098,3101.000000,3124.649902,1372218,0.0,0.0,False,False
2023-03-24 00:00:00+05:30,3148.899902,3170.000000,3106.000000,3120.500000,1329577,0.0,0.0,False,False